// =============================================================================
// Typography defaults
// =============================================================================

* {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto Mono';
}

a {
	text-decoration: underline;
	color: inherit;
	&:hover {
		color: map-get($text, highlight);
	}
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	color: map-get($text, highlight);
}

strong,
b {
	font-weight:bold;
}

em, i {
	font-style:italic;
}