// =============================================================================
// Colours
// =============================================================================


// Sass 3.3 maps
$text: (
	default: #222,
	highlight: #aaa
);

$bg: (
	body: #ccc,
	highlight: #ff7722
);