// =============================================================================
// Colours
// =============================================================================

// Sass 3.3 maps
$text: (
	default: red,
	highlight: #aaa
);

$bg: (
	body: #ccc,
	highlight: #ff7722
);