// =============================================================================
// Layout rules for block level container elements
// =============================================================================

html,
body {
	height: 100%;
	width: 100%;
}

[role="main"] {
	width: 100%;
	height: 100%;
}
